%h1 #{@new_count} new wat#{@new_count > 1 ? "s" : "" } (of #{@grouping.wats.count}) #{@new_count > 1 ? "have" : "has"} been detected in #{@app_envs.join(",")}

%table
  %tbody
    %tr
      %th
      %td= link_to "View grouping",grouping_url(@grouping)
    %tr
      %th Application
      %td= "#{@wat.app_name} (#{@app_envs.join(",")})"
    %tr
      %th When
      %td= "#{@wat.created_at} (#{time_ago_in_words(@wat.created_at)} ago)"

    %tr
      %th Key Line
      %td= @wat.key_line

  - if @wat.error_class.present?
    %tr
      %th Error Class
      %td= @wat.error_class
