%li.list-group-item.note
  .row
    %div
      .col-md-1
        - if grouping_version.watcher.present?
          = image_tag gravatar_url(grouping_version.watcher), class: ["img-circle", "img-responsive"]
        - else
          .label.label-warning.logo-label ?!
      .col-md-11
        = "State change from #{ grouping_version.reify.state } => #{(grouping_version.next.try(:reify) || grouping_version.item.reload).try(:state)}"
        .mic-info
          By:
          = grouping_version.watcher.try(:display_name) || "Anonymous"
          = "#{time_ago_in_words grouping_version.created_at} ago"
