- wat = representative_wat group
%article.group_listing
  = link_to group do
    %h4
      .badge.badge-warning
        = group.wats.count
      = link_to wat_heading(wat), group

  %p.state
    = render partial: "state", locals: {group: group}
  %dl
    - if wat_heading(wat) != wat.message
      %dt Message
      %dd= wat.message
    - if wat.page_url.present?
      %dt Page URL
      %dd= link_to wat.page_url
    %dt Backtrace
    %dd= wat.key_line
    %dt Time
    %dd
      = time_ago_in_words wat.updated_at
      ago
    %dt App Env
    %dd= wat.app_env
