.row.mb20
  .col-md-7
    - wat = wats(grouping).order(:id).last
    - if wat
      %h3= wat_heading(wat)
    .states-and-environments-container.pull-left
      .current_state{class: "#{grouping.state}-tag"}
        = grouping.state.capitalize
      - grouping.app_envs().each do |app_env|
        .environments.alert
          = app_env

  .col-md-5
    .pull-right
      .clearfix
        = render partial: "state", locals: {group: grouping}

      .timestamps.mt10
        - wat_the_first = wats.order(:captured_at).first
        - wat_the_last = wats.order(:captured_at).last

        - if wats.count > 1
          - if wat_the_first.captured_at.present?
            .timestamp
              First seen
              %span.moment_ago{ data: { time: wat_the_first.captured_at.iso8601 } }
              on
              = wat_the_first.captured_at.localtime.strftime("%a, %b %d at %l:%M %p %z")

          - if wat_the_last.captured_at.present?
            .timestamp
              Last seen
              %span.moment_ago{ data: { time: wat_the_last.captured_at.iso8601 } }
                on
              = wat_the_last.captured_at.localtime.strftime("%a, %b %d at %l:%M %p %z")
        - else
          .timestamp
            Seen
            %span.moment_ago{ data: { time: wat_the_first.captured_at.iso8601 } }
            on
            = wat_the_first.captured_at.localtime.strftime("%a, %b %d at %l:%M %p %z")

        .pull-right
          %a.mb20{"href" => "#", "data-target" => "#wat-chart-modal", "data-toggle" => "modal"}
            Show Frequency Chart
          %br
          .pull-right
            = link_to "Permalink", grouping_path(grouping, filters.filters), class: :mb20
            .glyphicon.glyphicon-copy
          - if Grouping.similar(@grouping).count > 1
            %br
            .pull-right
              .text
                %dt Previous Groupings
                %dd!
                  - Grouping.similar(@grouping).order(id: :desc).each do |grouping|
                    - if grouping == @grouping
                      = "---"
                    - else
                      %div
                        = link_to "Grouping ##{grouping.id}", grouping_path(grouping)
                        = "on #{grouping.created_at.to_date} (#{grouping.wats.count} wats)"

.row.mb20
  .col-md-6
    .grouping_summary
      .wat-card
        .small-title
          wats
        .big-number
          #{ wats.count }

      .wat-card
        .small-title
          users
        .big-number
          %a.mb20{"href" => "#", "data-target" => "#users-affected", "data-toggle" => "modal"}
            #{ grouping.app_user_count(filters: filters) }


      - unknowns = grouping.app_user_stats(filters: filters)[nil]
      - if unknowns.present?
        .wat-card
          .small-title
            unknowns
          .big-number
            #{ unknowns }

      .wat-card
        .small-title
          browsers
        .big-number
          %a.mb20{"href" => "#", "data-target" => "#browsers-affected", "data-toggle" => "modal"}
            #{ grouping.browser_count(filters: filters) }
      .wat-card
        .small-title
          hosts
        .big-number
          %a.mb20{"href" => "#", "data-target" => "#hosts-affected", "data-toggle" => "modal"}
            #{ grouping.host_count(filters: filters) }


= render partial: 'urls_modal', locals: {wats: wats, grouping: grouping}
= render partial: 'wat_chart_modal', locals: {grouping: grouping}
= render partial: 'users_modal', locals: {grouping: grouping}
= render partial: 'browsers_modal', locals: {grouping: grouping}
= render partial: 'hosts_modal', locals: {grouping: grouping}
