.states
  - if !group.active?
    = link_to activate_grouping_path(group), method: :post do
      .glyphicon.glyphicon-refresh
      %span.text-info
        Reactivate
  - else
    = link_to wontfix_grouping_path(group), method: :post do
      .glyphicon.glyphicon-check
      %span.text-info
        Won't Fix
  - if group.active? || group.wontfix?
    = link_to muffle_grouping_path(group), method: :post do
      .glyphicon.glyphicon.glyphicon-volume-down
      %span.text-info
        Muffle
  &nbsp;
  - unless group.resolved?
    = link_to resolve_grouping_path(group), method: :post do
      .glyphicon.glyphicon-thumbs-up
      %span.text-success
        Resolve
  - if group.subgroupings.any?
    - confirmation = "Are you sure you want to delete this grouping? Child groupings will remain intact."
    = link_to group, method: :delete, data: { confirm: confirmation } do
      .glyphicon.glyphicon-remove
      %span.text-info
        Unmerge

