.row-fluid
  %dl.dl-horizontal
    - if wat.page_url.present?
      %dt Page URL
      %dd= wat.page_url
    - if wat.session.present?
      %dt Session
      %dd= wat.session.to_json
    - if wat.request_headers.present?
      %dt Request Headers
      %dd= wat.request_headers
    - if wat.request_params.present?
      %dt Request Parameters
      %dd= wat.request_params
    - if wat.message.present?
      %dt Message
      %dd= wat.message
    - if wat.error_class.present?
      %dt Error Class
      %dd= wat.error_class
    - if wat.backtrace.present?
      %dt Backtrace
      %dd= wat.backtrace.first