.row
  %dl.dl-horizontal
    %dd= link_to "View wat", wat_path(wat)
    %dt Application
    %dd= "#{wat.app_name} (#{wat.app_env})"
    %dt Language
    %dd= wat.language
    %dt Grouping(s)
    %dd!
      - wat.groupings.order(:id).each do |grouping|
        %div
          = link_to "Grouping ##{grouping.id}", grouping_path(grouping)
          = "on #{grouping.created_at.to_date} (#{grouping.wats.count})"
    - if wat.page_url.present?
      %dt Page URL
      %dd= wat.page_url
    %dt Occurred at
    %dd
      .moment_ago{data: {display_date: "1", title_format: "llll ZZ", time: wat.created_at}}
    -if agent = wat.user_agent
      %dt Browser
      %dd
        - if agent.name == :Unknown
          = agent.string
        - else
          #{agent.name} #{agent.version} running on #{agent.os}
    %dt Key Line
    %dd= wat.key_line
    - if wat.session.present?
      %dt Session
      %dd
        %pre~ JSON.pretty_generate wat.session
    -if wat.app_user.present?
      %dt User affected
      %dd
        %pre~ JSON.pretty_generate wat.app_user
    - if wat.request_params.present?
      %dt Request Parameters
      %dd
        %pre~ JSON.pretty_generate wat.request_params

    - if wat.sidekiq_msg.present?
      %dt Sidekiq Message
      %dd
        %pre~ JSON.pretty_generate wat.sidekiq_msg
    - if wat.message.present?
      %dt Message
      %dd
        %pre= wat.message
    - if wat.error_class.present?
      %dt Error Class
      %dd= wat.error_class
    - if wat.backtrace.present?
      %dt Backtrace
      %dd
        - backtrace_chunked = wat.backtrace.each_slice(10)
        - backtrace_top = backtrace_chunked.first
        - backtrace_rest = backtrace_chunked.to_a[1..-1]

        - backtrace_top.each do |line|
          %div{class: (line == wat.key_line ? "text-error" : "text-muted")}
            = line
        #collapse-backtrace.collapse
          - backtrace_rest.each do |chunk|
            - chunk.each do |line|
              %div{class: (line == wat.key_line ? "text-error" : "text-muted")}
                = line
        - if backtrace_rest.present?
          %a{ "data" => {"toggle" => "collapse"}, "href" => "#collapse-backtrace" }
            Show / Hide

    - if wat.request_headers.present?
      %dt Request Headers
      %dd
        - wat.request_headers.sort.each do |header_name, value|
          %div
            %strong= header_name
          %div
            = value
          %br
