.row-fluid
  %dl.dl-horizontal
    %dd= link_to "View wat", wat_path(wat)
    %dt Application
    %dd= "#{wat.app_name} (#{wat.app_env})"
    %dt Grouping(s)
    %dd!= wat.groupings.map {|x| link_to grouping_path(x), grouping_path(x)}.join " "
    - if wat.page_url.present?
      %dt Page URL
      %dd= wat.page_url
    %dt Occurred at
    %dd= wat.created_at
    %dt Key Line
    %dd= wat.key_line
    - if wat.session.present?
      %dt Session
      %dd= wat.session.to_json
    - if wat.request_headers.present?
      %dt Request Headers
      %dd
        - wat.request_headers.sort.each do |header_name, value|
          %div
            %strong= header_name
          %div
            = value
          %br

    - if wat.request_params.present?
      %dt Request Parameters
      %dd= wat.request_params
    - if wat.sidekiq_msg.present?
      %dt Sidekiq Message
      %dd= wat.sidekiq_msg
    - if wat.message.present?
      %dt Message
      %dd= wat.message
    - if wat.error_class.present?
      %dt Error Class
      %dd= wat.error_class
    - if wat.backtrace.present?
      %dt Backtrace
      %dd
        .backtrace_container
          - wat.backtrace.each do |bt|
            %div{class: (bt == wat.key_line ? "text-error" : "muted")}
              = bt
          = link_to "Show Less", "#obscure_backtrace", class: "obscure_backtrace"
          
        = link_to "Show More", "#complete_backtrace", class: "complete_backtrace"
