
.row.mb20
  = form_tag search_path(params.slice(:utf8, :filters)), method: :get do
    .input-group
      .hidden
        = render partial: 'filters/filter_fields', locals: {prefix: "filters", filter_set: filters}

      -#= hidden_field_tag "filters", value:
      = text_field_tag "q", params[:q], :class => "form-control input-lg", :placeholder => "Wat are you looking for..."
      %span.input-group-btn
        = button_tag(type: 'submit', class: "btn btn-default btn-lg") do
          Search


.row
  = render :partial => 'groupings/group', :collection => @search_results
  = paginate @search_results
