.clearfix
  .states-container.pull-left
    .current_state{class: "#{@watcher.state}-tag"}
      = @watcher.state.capitalize

  .pull-right.action-items
    = render "state", watcher: @watcher
%h2
  = @watcher.display_name
%pre= @watcher.email


=form_for current_user, id: "update-default-filters" do |f|
  .row
    .col-lg-2
      Default filters
      .watcher_default_filter_fields
        = render 'filters/filter_fields', prefix: "watcher[default_filters]",
        filter_set: FilterSet.new(@watcher.default_filters)

    .col-lg-2
      Email filters
      .watcher_email_filter_fields
        = render 'filters/app_names', prefix: "watcher[email_filters]",
        filter_set: FilterSet.new(@watcher.email_filters)
        = render 'filters/app_envs',  prefix: "watcher[email_filters]",
        filter_set: FilterSet.new(@watcher.email_filters)
        = render 'filters/languages', prefix: "watcher[email_filters]",
        filter_set: FilterSet.new(@watcher.email_filters)

  = f.submit "Save"
