.clearfix
  .states-container.pull-left
    .current_state{class: "#{@watcher.state}-tag"}
      = @watcher.state.capitalize

  .pull-right.action-items
    = render partial: "state", locals: {watcher: @watcher}
%h2
  = @watcher.display_name
%pre= @watcher.email
