%li.nav-header.mb20
  Applications
  %ul.filter#app_names
    - app_names.each do |name|
      %li
        =label_tag do
          = hidden_field_tag "#{prefix}[app_name][#{name}]", 0
          = check_box_tag "#{prefix}[app_name][#{name}]", "1", filter_set.checked?("app_name", name)
          = name
