= render 'filters/app_names', prefix: prefix, filter_set: filter_set
= render 'filters/app_envs',  prefix: prefix, filter_set: filter_set
= render 'filters/languages', prefix: prefix, filter_set: filter_set
= render 'filters/states',    prefix: prefix, filter_set: filter_set
= render 'filters/user',      prefix: prefix, filter_set: filter_set
