%li.nav-header.mb20
  Languages
  %ul.filter#app_names
    - languages.each do |language|
      %li
        =label_tag do
          = hidden_field_tag "#{prefix}[language][#{language}]", 0
          = check_box_tag "#{prefix}[language][#{language}]", "1", filter_set.checked?("language", language)
          = language
