%li.nav-header.mb20
  States
  %ul.filter#states
    %li
      =label_tag do
        = hidden_field_tag "#{prefix}[state][active]", 0
        = check_box_tag "#{prefix}[state][active]", "1", filter_set.checked?("state", "active")
        Active
    %li
      =label_tag do
        = hidden_field_tag "#{prefix}[state][muffled]", 0
        = check_box_tag "#{prefix}[state][muffled]", "1", filter_set.checked?("state", "muffled")
        Muffled
    %li
      =label_tag do
        = hidden_field_tag "#{prefix}[state][wontfix]", 0
        = check_box_tag "#{prefix}[state][wontfix]", "1", filter_set.checked?("state", "wontfix")
        Won't Fix
    %li
      =label_tag do
        = hidden_field_tag "#{prefix}[state][resolved]", 0
        = check_box_tag "#{prefix}[state][resolved]", "1", filter_set.checked?("state", "resolved")
        Resolved
