%li.nav-header.mb20
  States
  %ul.filter#states
    %li
      =label_tag do
        = check_box_tag "#{prefix}[state][]", 'unacknowledged', filter_set.checked?(:state, 'unacknowledged')
        Unacknowledged
    %li
      =label_tag do
        = check_box_tag "#{prefix}[state][]", 'acknowledged', filter_set.checked?(:state, 'acknowledged')
        Acknowledged
    %li
      =label_tag do
        = check_box_tag "#{prefix}[state][]", 'wontfix', filter_set.checked?(:state, 'wontfix')
        Won't Fix
    %li
      =label_tag do
        = check_box_tag "#{prefix}[state][]", 'resolved', filter_set.checked?(:state, 'resolved')
        Resolved
