!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Wattle"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "wats", :media => "all"
    %link(href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon-precomposed" sizes="144x144")
    %link(href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon-precomposed" sizes="114x114")
    %link(href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72")
    %link(href="/wattle_logo.png" rel="apple-touch-icon")
    %link(href="/favicon.ico" rel="shortcut icon")
    = javascript_wat_catcher

  %body
    %nav.navbar.navbar-fixed-top.navbar-default{role: "navigation"}
      .navbar-header
        %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand(href="/")
          .label.label-warning.logo-label ?!
          Wattle
      / Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li= link_to "Reports", groupings_path(params.slice(:utf8, :filters))
          %li= link_to "Stats", stats_path(params.slice(:utf8, :filters))
        %ul.navbar-right.nav.navbar-nav
          %li
            %a{href: "#settings"}
              .pull-left= image_tag gravatar_url(current_user), class: "watcher-avatar"
              = current_user.display_name

    .row
      .col-lg-2
        =render 'layouts/filters'

      .col-lg-7
        = yield


    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
